ipython-genutils==0.1.0
joblib==0.9.4
jupyter-client==4.2.1
jupyter-console==4.1.1
jupyter-core==4.0.6
numpy==1.10.4
scipy==0.17.0
matplotlib==1.5.0
scikit-learn==0.17.1
auditok==0.1.5
librosa==0.4.2
